<div id="login_frm" >
	<h1>Welcome!</h1>

	<p>Please login to use the app:</p>
	<%= form_for(:session, url: login_path, html: { class: "app_form" }) do |frm| %>
		<%= frm.label "Username:" %> <br>
		<%= frm.text_field :username %> <br>
		<%= frm.label "Password:" %> <br>
		<%= frm.password_field :password %> <br>
		<%= frm.submit "Login", class: "app_button" %>
	<% end %>
	<br>
	<%= link_to "Forgot password?", "#" %>
	
	<p>Don't have an account? <%= link_to "Sign up here.", "signup" %></p>
</div>