<h1>Sign up</h1>

<%= form_for(@user, html: { class: "app_form" }) do |uf| %>
	<%= uf.label "Username:" %> <br>
	<%= uf.text_field :username %> <br>
	<%= uf.label "Email:" %> <br>
	<%= uf.text_field :email %> <br>
	<%= uf.label "Password:" %> <br>
	<%= uf.password_field :password_digest %> <br>
	<%= label_tag "Repeat password" %> <br>
	<%= password_field_tag :confpass %> <br>
	<%= uf.label "Account type:" %>
	<%= uf.label "Public" %>
	<%= uf.radio_button :type, 0, checked: true %>
	<%= uf.label "Private" %>
	<%= uf.radio_button :type, 1 %> <br>
	<%= uf.label "First name:" %> <br>
	<%= uf.text_field :firstname %> <br>
	<%= uf.label "Last name:" %> <br>
	<%= uf.text_field :lastname %> <br>
	
	<%= uf.submit "Sign up", class: "app_button" %>
	
<% end %>