<h1>Raise defect:</h1>

<%= form_for([@project, @defect], html: {class: "app_form", onsubmit: "return validate_defect();"}) do |frm| %>
  <%= frm.label "Title:" %> <br>
  <%= frm.text_field :title %> <br>
  <%= frm.label "Assign to:" %>
  <% if current_user.is_private? %>
    <%= frm.label "User" %>
    <%= radio_button_tag :asgn_type, "usr", checked: true %>
    <%= frm.label "Group" %>
    <%= radio_button_tag :asgn_type, "gr" %> <br>
  <% end %>
  <%= frm.select :assigned_to_id, @project.members.map {|mem| [mem.user.username, mem.user.id]}, include_blank: "" %>
  <% if current_user.is_private? %>
    <%= frm.select :to_group_id, @project.groups.map {|gr| [gr.name, gr.id]}, include_blank: "" %>
  <% end %> <br>
  <%= frm.label "Status:" %> <br>
  <%= frm.select :status, [["Opened", "0"], ["Maintenance", "1"]], include_blank: "" %> <br>
  <%= frm.label "Importance:" %> <br>
  <%= frm.select :importance, [["Low", "3"], ["Medium", "2"], ["High", "1"], ["Critical", "0"]], include_blank: "" %> <br>
  <%= frm.label "Description" %> <br>
  <%= frm.text_area :description %> <br>
  <%= frm.submit "Raise defect", class: "app_button create_button" %>
<% end %>

