<!DOCTYPE html>
<html>
<head>
  <title>KBugTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
		<div id="header" data-no-turbolink>
			<%= link_to image_tag("tracker_logo.jpg"), root_path, id: "app_logo" %>
			<ul id="main_nav">
				<li>
					<% unless is_logged? %>
						<%= link_to "Login", login_path %>
					<% else %>
						<%= link_to current_user.username, "#", id: "nav_username" %>
						<ul class="main_nav_inner">
							<li><%= link_to "Profile", user_path(current_user) %></li>
							<li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
							<li><%= link_to "Logout", logout_path, method: "delete" %>
						</ul>
						<% end %>
				</li>
				<li>
					<a href="#">Projects</a>
					<ul class="main_nav_inner">
						<li><a href="#">Assigned</a></li>
						<li><a href="#">Requests</a></li>
						<li><a href="#">Search</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Help</a>
					<ul class="main_nav_inner">
						<li><a href="#">Guide</a></li>
						<li><a href="#">Recommendations</a></li>
					</ul>
				</li>
				<li>
					<a href="#">About</a>
					<ul class="main_nav_inner">
						<li><a href="#">Application</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<!-- 
					Display flash messages for successful or failed actions
					and validation results.
		-->
		<% unless flash[:status] == nil %>
		<ul id="flashes" class=<%= flash[:status] == 0 ? "fl_success" : "fl_err" %> >
			<% flash[:msgs].each do |m| %>
				<li><%= m %></li>
			<% end %>
		</ul>
		<% end %>
		
		<div id="body_cont" data-no-turbolink>
			<%= yield %>
		</div>
		
		<div id="footer">
			<p>&copy 2015. Developed by Konstantin Dobrev. All rights reserved. </p>
		</div>
	</body>

</html>
